body {
	background: #333;
}

.tabs dd {
	width: 33.3%;
}


 {
	background: #f0f;

	transition: background .5s;
}


.pauseimage {
	width: 50%;
	margin: auto;
	margin-top: 30px;
}

.playimage {
	width: 50%;
	margin: auto;
	margin-top: 30px;
}

.offscreenimg {
	text-indent: -9999px;
}